<!doctype html>
<html>

<head>
  <title>ng-bind test</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>

<body ng-app="myApp">
  <script>
    angular.module('myApp', [])
      .controller('myAppController', ['$scope', function($scope) {
        $scope.user_firstName = 'Joe';
        $scope.user_lastName = 'Pesci';
      }]);
  </script>
  <div ng-controller="myAppController">
    Hi.  Please enter user's first and last name.<br>
    I've provided an initial first name for you.
    <br>
    <br>
    User first name: <input type="text" ng-model="user_firstName"/><br>
    User last name: <input type="text" ng-model="user_lastName"/><br>
    </br>
    <span ng-show="user_firstName.length || user_lastName.length">
      Ok, so far I have:<br>
      First name: <span ng-bind="user_firstName"></span><br>
      Last name: <span ng-bind="user_lastName"></span><br>
    </span>
  </div>
</body>
</html>
